@model IList<FptBookKhanhPhong.Models.ApplicationUser>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>List User</h2>
<a href="/Identity/Account/Register" class="btn btn-primary">Create new User</a>

<form class="form-inline my-2 my-lg-0 float-right">
    <input id="myInput" class="form-control mr-sm-2" type="text" placeholder="Search">
</form>

<div class="card shadow mb-4">
    <div class="card-body text-dark" style="background-color: #d3d4d4">
        <div class="table-responsive font-weight-bold">
            <table class="table table-bordered" id="dataTable">

                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </thead>

                @if (Model.Count > 10)
                {
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                }

                <tbody>
                @foreach (var user in @Model)
                {
                    <tr>
                        <td>@user.FullName</td>
                        <td>@user.Email</td>
                        <td>@user.Address</td>
                        <td>@user.Role</td>
                        <td>
                            @if (user.LockoutEnd == null || user.LockoutEnd < DateTime.Now)
                            {
                                <a asp-controller="Users" asp-action="LockUnLock" asp-route-id="@user.Id" class="btn btn-info">Lock</a>
                            }
                            else
                            {
                                <a asp-controller="Users" asp-action="LockUnLock" asp-route-id="@user.Id" class="btn btn-info">UnLock</a>
                            }

                            <a asp-controller="Users" asp-action="Update" asp-route-id="@user.Id" class="btn btn-info">Edit</a>
                            <a asp-controller="Users" asp-action="ConfirmEmail" asp-route-id="@user.Id" class="btn btn-success">Reset Password</a>
                            <a asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger" onclick="return confirm('Do you want delete this item?')">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
    $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tblData tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}